.contenedorBtnFlotante{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: #11a37e97;

    position: fixed;
   
    top: 17px;
    right: 0px;
    cursor: pointer;


}
.iconoPrint{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.56);
}
@media (min-width: 576px) {
    .contenedorBtnFlotante{
        width: 70px;
        height: 70px;
        top: 10px;
      
    
    }
    .iconoPrint{
        font-size: 60px;
    }
}