.contenedorBtnIniciarJuego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    
}
.contenedorBoton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    cursor: pointer;
}
.textoIniciarPartida{
    font-weight: bold;
    
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    background: white;
    color: blue;
    margin: 0;

}