.contenedorInputID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 20px 70px 20px 70px;
    
}

.contenedorInputNombre, .contenedorInputCdp{
    
    width: 100%;

    text-align: center;
}