.contenedorInputID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 20px 70px 20px 70px;
    
}

.contenedorInputNombre, .contenedorInputCdp{
    
    width: 100%;
    margin-bottom: 10px;

    text-align: center;
}
.txtLabelInput{
    color: var(--RojoPrincipal);
    font-size: 24px;
    font-weight: bold;
}