.contenedorInputID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
   
}

.contenedorInputNombre, .contenedorInputCdp{
    max-width: 800px;
    width: 100%;

    text-align: center;
}