.contenedorDerechoItem, .contenedorIzquierdoItem{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.col{
    gap: 10px;
    display: flex;
    
}
.col input{
    padding: 4px;
    min-width: 40px;
}
.contenedorItem{
    padding: 10px 0;
    border-bottom: 2px solid #00a0b54e;
}
@media (min-width: 576px) {
    .contenedorIzquierdoItem{
        justify-content: left;
    
    }
}
h2{
    font-size: 1.5em;
    margin: 10px 0;
    color: #B41A4A  !important;
    
}
.lblInput{
    width: 100%;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 !important;
    


    
}
@media (max-width: 400px) {
    .lblInput{
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
}   
.instanciaInput{
    border-bottom: 2px solid #009FB5;
    margin: 2px;
}

.contenedor{
    margin: 20px 0;
 
}
.contenedorInputsItems{
    display: flex;
    gap: 5px;
}