.tablePId{
    padding-right: 15px !important;
}
.tablePId, .tablePPuntos{
 text-align: center;
}

@media print{
    .contenedorPrincipal{
        width: 100% !important;
        
    }
    .contenedorPrincipal * {
        font-size: 10px !important;
    }
    
}