.tablePId{
    padding-right: 10px !important;
}
.tablePId, .tablePPuntos{
 text-align: center;
}

@media print{
    .contenedorPrincipal{
        width: 100% !important;
        
    }
    .contenedorPrincipal * {
        font-size: 10px !important;
    }
    
}

@media (max-width: 400px) {
    body {
        font-size: 18px; /* Tamaño de texto más pequeño para pantallas de 768px o menos */
    }

    .tablaAuditoria th, 
    .tablaAuditoria td {
        font-size: 16px; /* Tamaño de texto más pequeño para la tabla */
    }

    /* Puedes agregar más estilos según necesites */
}