.pregunta{
    min-height: 5vh;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.5);
    color: #DB011C;
    font-weight: bold;
}

.contenedorPregunta{
    min-height: 40vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.respuestas{
    height: 35vh;
}
.resp0{
    background-color: #cf0638 ;
}
.resp1{
    background-color: #e9b600 ;
}
.resp2{
    background-color: #0a996f ;
}
.resp3{
    background-color: #0a6789 ;
}

.respuestaIncorrecta{
    background-color: black;
}

.resp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    

    color: white;
    
    height: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    
    transition: .3s;
    cursor: pointer;

    font-weight: bold;
    font-size: 18px;
    
}
.resp:hover{
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);

    
    transition: .3s;
}
.textoModalRespuesta{
    color: #0a6789;
}

/* .color1 { #cf0638 };
.color2 { #fa6632 };
.color3 { #fecd23 };
.color4 { #0a996f };
.color5 { #0a6789 }; */