.textoTitular{
    background-color: #B41A4A;
    min-height: 10vh;
    color: white;
    user-select: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0;
}
@media print {
   .textoTitular{
    display: none;
   }
}