.contenedorTop{
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  
    padding-top: 15px;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.5);
    color: #DB011C;
    font-weight: bold;
}
.contenedorScore{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.score,.timer{
    font-weight: bold;
}