body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --UserColor1: #112240;
  --UserColor2: #EAFDF8;
  --UserColor3: #984447;
  --UserColor4: #468C98;
  --UserColor5: #F1C40F;
  --UserColor6: #B084CC;
}
.contenedorPaginaMcHoot {
  
  background-color: #ffffff;
  
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #D3D0CF55, #D3D0CF );}